/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/css/styles.css
public/js/scripts.js
resources/assets/css/css1.css
resources/assets/css/css2.css
mix-manifest.json
storage/
